body{
    background-color: #80808038;
    margin-top: 0px;
}

div#background{
    background-color: white;
    margin-left: 5%;
    margin-right: 5%;
}

button{
    width:100%;   
    padding: 5px;
    font-size: 100%;
}

p,label,{
    size: 30px;
}


div#all{
    background-color: gray;
    margin-left: auto;

}

div#message{
    text-align: center;
    font-size: 40px;
    font-family: sans-serif;
    margin: 5%;
    border-style: groove;
    border-radius: 20px;

}
div#message p{
    margin-left:auto;
    margin-right: auto;

}

h1{
    color: white;
    margin-top: 0px;
    background-color: lightgreen;
    font-size: 54px;
    text-align: center;
}

table.Forms{
    border-style: groove;
    margin: 0 3%;
    margin-bottom: 10%;
    padding: 1%;
    width: 50%;
}

table th,td {
    border-style: groove;
    font-size: 45px;
    padding: 0;
}

table td input {
    font-size: 80%;
    width: 90%;
    margin: 5%;
}

.mainbox{
    display: flex;
}
