{% extends 'base.html' %}
{% block content %}
<div id="background">
<h1>出席管理表</h1>

    <div id=message>
        <p>{{message}}</p>
    </div>
    <div class="mainbox">
        
            <table class="Forms">
                    <form action="" method="post">
                    {% csrf_token %}
                    {% for  input in form %}
                    <tr><th>{{input.label_tag}}</th><td>{{input}}</td></tr>
                    {% endfor %}
                    <tr><td></td><td><button>決定</button></td></tr>
                </form>
            </table>       
            
            <table class="Forms">
                <thead><th>現在のシフト</th><th>出勤状況</th></thead>
                {# この以下の表示を工夫して、jQuery で Ajax させる。 #}
                {% for data in model %}
                <tbody>
                    <tr>
                        <th>{{data.name}}</th>
                        {% if data.arrival %}
                        <td>出勤</td>
                        {% else %}
                        <td>帰宅</td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
    
    </div>
</div>
{% endblock %}